{{!-- ADMIN --}}
{{#ifMatch userType "ADMIN"}}
<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-nav">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <h3 class="text-white">Salon management system</h3>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/admin/customer">Customer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/admin/barber">Barber</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/admin/appointment">Appointment</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/admin/review">Review</a>
            </li>
             <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/login/aboutUs">About-Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/login/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{{/ifMatch}}

{{!-- BARBER --}}
{{#ifMatch userType "BARBER"}}
<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-nav">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <h3 class="text-white"><a class="nav-link text-white" href="/">Salon management
                        system</a></h3>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/barber/appointment">Appointment</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/barber/profile">Profile</a>
            </li>
             <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/login/aboutUs">About-Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/login/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{{/ifMatch}}

{{!-- CUSTOMER --}}
{{#ifMatch userType "CUSTOMER"}}
<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-nav">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <h3 class="text-white"><a class="nav-link text-white" href="/">Salon
                        Management System</a></h3>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
             <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/customer/barber">Barber</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/customer/appointment">Appointment</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/customer/profile">Profile</a>
            </li>
             <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/login/aboutUs">About-Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{base_url}}/login/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{{/ifMatch}}