<div class="container mt-5">
    <div class="card mb-12">
        <div class="row no-gutters"
            style="display: flex; justify-content: center;align-items: center; text-align: center; padding-top: 15px;">
            <div class="col-md-4">
                <img src="{{baseUrl}}/images/img_avatar.png" alt="Avatar" class="avatar">
            </div>
        </div>
        <hr>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">First Name:- <b> {{objUser.userFirstName}} </b> </h5>
                <h5 class="card-title">Last Name:- <b>{{objUser.userLastName}}</b></h5>
                <h5 class="card-title">Contact No.:- <b>{{objUser.contactNo}}</b></h5>
                <h5 class="card-title">Email:- <b>{{objUser.userEmail}}</b></h5>
            </div>
        </div>
    </div>
</div>