<div class="container">
    <div class="row">
        <div class="col-12 box">
            <div class="row row-cols-12 justify-content-md-end p-3">
                <a type="button" class="btn btn-info" href="{{base_url}}/admin/customer/add">+ Add</a>
            </div>
            <div class="row row-cols-12 justify-content-md-center">
                <h1>Customers</h1>
            </div>
            <div class="row row-cols-12">
                <table class="table">
                    {{#if lstCustomer}}
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User First Name</th>
                            <th scope="col">User Last Name</th>
                            <th scope="col">Contact No</th>
                            <th scope="col">User Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lstCustomer}}
                        <tr>
                            <td>{{userFirstName}}</td>
                            <td>{{userLastName}}</td>
                            <td>{{contactNo}}</td>
                            <td>{{userEmail}}</td>
                            <td>
                                <a type="button" class="btn btn-info"
                                    href="{{base_url}}/admin/customer/edit/{{_id}}">Edit</a>
                                <button type="button" class="btn btn-danger"
                                    onclick="onDeleteClick('{{_id}}')">Delete</button>
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <div style="width: 100%;">
                            <h4 class="pt-3" style="text-align: center;">There are no customer found</h4>
                        </div>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function onDeleteClick(id) {
        let isConfirmed = confirm("Do you really want to delete?")
        if (!isConfirmed) return;

        const io = {}

        var settings = {
            "url": `{{base_url}}/admin/customer/delete/${id}`,
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify(io),
        };

        $.ajax(settings).done(function (response) {
            window.location.assign("{{base_url}}/admin/customer")
        }).catch((ex) => {
            console.log(ex)
            alert('Error')
        });
    }
</script>